.container {
  width: 80vw;
  margin: 10vh auto;
}

#game-page {
  display: flex;
}

.info-section {
  width: 20vw;
  margin-right: 5vw;
}

.room-name {
  margin-bottom: 10px;
}

.btn {
  font-size: 0.9em;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 3px;
  transition: 0.25s ease-in all;
}

.disconnect-btn {
  border: 1px solid rgb(248, 40, 40);
}

.disconnect-btn:hover {
  color: #fff;
  background-color: rgb(248, 40, 40);
}

.players-list {
  margin-top: 50px;
}

.player-item {
  margin-top: 40px;
}

.player-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.active-circle {
  background-color: rgb(22, 187, 22);
}

.inactive-circle {
  background-color: rgb(248, 40, 40);
}

.current-player-name {
  font-weight: 700;
}

.current-player-name::after {
  content: ' (you)';
}

.player-progress-bar {
  margin-top: 10px;
  width: 100%;
  height: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden;
}

.progress-line {
  width: 0%;
  height: 110%;
  background-color:rgb(216, 219, 20);
}

.game-section {
  width: 50vw;
  height: 50vh;
  border: 2px solid #333;
  border-radius: 5px;
}

.game-ready-btn-field {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.ready-btn:hover {
  color: #fff;
  background-color: #333;
}

.countdown-field {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.countdown-number {
  margin-top: -20px;
  font-size: 2em;
  font-weight: bold;
}

.game-text-field {
  height: 100%;
  display: none;
  padding: 20px 40px;
}

.game-timer {
  text-align: right;
  width: 100%;
}

.game-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.game-text {
  margin-top: -50px;
}

.game-text::selection {
  color: #fff;
  background-color: #333;
}